<div class="bootstrap-wrapper">
    <div class="row mt20">
        <div class="col-md-12">
            <h1>
                Add Candidate
            </h1><br><br>

            <mat-card class="current">
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the details of Candidate
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="mt20" (submit)="formSubmit()">

                        <div class="row">
                            <div class="col-md-6">
                                <!-- username -->
                                <mat-form-field class="w100">
                                    <mat-label>username</mat-label>
                                    <input [(ngModel)]="user.username" required name="username" type="text" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- password -->
                                <mat-form-field class="w100">
                                    <mat-label>password</mat-label>
                                    <input [(ngModel)]="user.password" required name="password" type="text" matInput />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- firstName -->
                                <mat-form-field class="w100">
                                    <mat-label>First Name</mat-label>
                                    <input [(ngModel)]="user.firstName" required name="firstName" type="text"
                                        matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- lastName -->
                                <mat-form-field class="w100">
                                    <mat-label>Last Name</mat-label>
                                    <input [(ngModel)]="user.lastName" required name="lastName" type="text" matInput />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- email -->
                                <mat-form-field class="w100">
                                    <mat-label>Email</mat-label>
                                    <input [(ngModel)]="user.email" required name="email" type="text" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- phone -->
                                <mat-form-field class="w100">
                                    <mat-label>Mobile</mat-label>
                                    <input [(ngModel)]="user.phone" required name="phone" type="text" matInput />
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- button -->
                        <mat-card-actions class="text-center ">
                            <button mat-raised-button (click)="Back()"> Back </button>
                            <button type="submit" mat-raised-button color="primary"> Add </button>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>