<mat-card class="mt10 mr20 ml20 current" *ngFor="let q of exams">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ q.title }}
    </mat-card-title>
    <mat-card-subtitle>
      Examination
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ q.description }}</p>
  </mat-card-content>

  <div class="text-right">
    <button mat-button class="ml20">
      Questions: {{ q.numberOfQuestions }}
    </button>
    <button mat-button class="ml20">
      Full Marks: {{ q.maxMarks }}
    </button>
  </div>

  <!-- <hr style="border-top: 1px white;"> -->

  <mat-card-actions>
    <button [routerLink]="'/admin/exam-questions/' + q.exId+ '/' + q.title" mat-button>
      <mat-icon mat-list-icon>question_answer </mat-icon> Questions
    </button>

    <button [routerLink]="'/admin/view-candidate/' + q.exId" mat-button>
      <mat-icon mat-list-icon>people </mat-icon> Candidates
    </button>

    <button [routerLink]="'/admin/results/' + q.exId" mat-button class="ml20">
      <mat-icon mat-list-icon>event_available </mat-icon> Results
    </button>

    <button [routerLink]="'/admin/exam/' + q.exId" mat-button class="ml20">
      <mat-icon mat-list-icon>update </mat-icon> Update
    </button>

    <button mat-button class="ml10" (click)="deleteExam(q.exId)">
      <mat-icon mat-list-icon>delete </mat-icon> Delete
    </button>


  </mat-card-actions>
</mat-card>

<div class="container text-center mt40">
  <button routerLink="/admin/add-exam" mat-raised-button>
    <mat-icon mat-list-icon>library_add </mat-icon> Add New Exam
  </button>
</div><br><br>