<mat-card class="current">
    <h1 style="margin-bottom: 10rem;">Update Password</h1>
    <div class="container mt20">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt20">
                <form *ngIf="user" (submit)="updateProfile()">
                    <!-- password  -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Enter here" matInput
                            required />
                    </mat-form-field>

                    

                    <div class="container text-center mt20">
                        <button mat-raised-button color="primary" type="submit">
                            Save New Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>